{% extends "users/base.html" %} {% block title %}Home{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="table-responsive col-auto" style="padding-bottom: 1rem;">
        <div class="card">
            <div class="card-header text-center">
                Home
            </div>
            <inline>
                {% for i,b in bread %}
                {% if i != n_bread %}
                <b> <a href="{% url 'drive' %}?id={{b.id}}">{{b.name}}</a>  >> </b>
                {% else %}
                <b> <a href="{% url 'drive' %}?id={{b.id}}">{{b.name}}</a> </b>
                {% endif %}
                {% endfor %}
            </inline>
            <b>---------------------------------------</b>
            {% if empty %}
            <p> Directory is empty.</p>
            {% else %}

            {% for d in folders %}
            <p> <a href="{% url 'drive' %}?id={{d.id}}"> {{d.name}}</a></p> <br />
            {% endfor %}

            {% for f in files %}
            <p><a href="{% url 'file' f.pk %}" download> {{f.filename}} </a></p><br />
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}