{% extends "users/base.html" %} {% block title %}Home{% endblock %} {% block content %} {% load static %}
<div class="container-fluid">
    <div class="table-responsive col-auto" style="padding-bottom: 1rem;">



        <!-- Drive Div  -->
        <div class="card">
            <div class="card-header text-center">
                <h3>My Drive</h3>
                <!-- </div>

            <div class="text-center">
                {% if user.is_authenticated %}
                <h3>Hi {{ name }},</h3>
                {% endif %}
                <p>
                    <h1>Welcome to Cloud Based File Sharing System</h1>
                </p>
            </div> -->

            </div>

            <div class="d-flex justify-content-between">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i>
                        </a></li>
                        <li class="breadcrumb-item"><a href="#">Folder1</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>

                <div class="d-flex flex-row-reverse">

                    <div class="p-2">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#CreateFolderModal">Create Folder</button>
                    </div>

                    <div class="p-2">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#UploadFileModal">Upload File</button>
                    </div>

                </div>

            </div>
            <!-- file folder div  -->
            <div class="d-flex p-4">

                <!-- Folder Card -->
                <div class="card m-2" style="width: 10rem;">

                    <img class="card-img-top mx-auto" src="{% static '/img/folder.png' %}" alt="Folder Icon" style="width: 6rem;">
                    <div class="card-body d-flex justify-content-between">
                        <a href="#">
                            <h5 class="card-title">Folder Name</h5>
                        </a>
                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown"> <i class="fas fa-ellipsis-v"></i> </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Rename</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- File Card -->
                <div class="card m-2" style="width: 10rem;">

                    <img class="card-img-top mx-auto" src="{% static '/img/file.png' %}" alt="File Icon" style="width: 6rem;">
                    <div class="card-body d-flex justify-content-around">
                        <h5 class="card-title">File Name</h5>

                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown"> <i class="fas fa-ellipsis-v"></i> </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Download</a>
                                <a class="dropdown-item" href="#">Share</a>
                                <a class="dropdown-item" href="#">Rename</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Folder Empty msg -->
                <h1 class="display-4 text-muted text-center m-auto">This folder is empty.</h1>

            </div>




        </div>
        <!-- END Drive  -->





        <div style="height:5rem ;"></div>






        <!-- Shared Files -->
        <div class="card">
            <div class="card-header text-center">
                <h3>Shared Files</h3>
            </div>

            <!-- file folder div  -->
            <div class="d-flex p-4">
                <!-- File Card -->
                <div class="card m-2" style="width: 10rem;">

                    <img class="card-img-top mx-auto" src="{% static '/img/file.png' %}" alt="File Icon" style="width: 6rem;">
                    <div class="card-body d-flex justify-content-around">
                        <h5 class="card-title">File Name</h5>

                        <div class="dropdown">
                            <button type="button" class="btn btn-light" data-toggle="dropdown"> <i class="fas fa-ellipsis-v"></i> </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Download</a>
                                <a class="dropdown-item" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Folder Empty msg -->
                <h1 class="display-4 text-muted text-center m-auto">No Shared File.</h1>

            </div>
        </div>
        <!-- End Shared Files -->




        <!-- Create Folder Modal -->
        <div class="modal fade" id="CreateFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create Folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="newFolderName">Folder Name:</label>
                                <input type="text" class="form-control" id="newFolderName" placeholder="New Folder">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- File Upload Modal -->
        <div class="modal fade" id="UploadFileModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="input-group mb-3">

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="newFile">
                                    <label class="custom-file-label" for="newFile">Choose file</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
    {% endblock content %}